Debug/
Release/
firmware_Target_Flash/
.metadata
*.o
*.d
*~
*.pyc
bootloader.bin
bootloader.dfu
bootloader.elf
bootloader.hex
mchf.bin
mchf.elf
mchf.map
mchf.dfu
DebugSemihosting/
DebugLib/
DebugBootloader/
ReleaseBootloader/
build-bl/
build-fw/
.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.cdt.managedbuilder.core.prefs
.settings/language.settings.xml
/DebugBootloaderF7/
/DebugLibF7/
/DebugF7/
/DebugBootloaderOVI40/
/DebugLibOVI40/
/DebugOVI40/
/DebugBootloaderMCHF/
/DebugLibMCHF/
/DebugMCHF/