.metadata
*.o
*.d
*~
*.pyc
bl-*.bin
bl-*.dfu
bl-*.elf
fw-*.bin
fw-*.dfu
fw-*.elf
fw-*.map
Debug/
Release/
firmware_Target_Flash/
DebugSemihosting/
DebugLib/
DebugBootloader/
ReleaseBootloader/
build-bl/
build-fw/
.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.cdt.managedbuilder.core.prefs
.settings/language.settings.xml
/DebugBootloaderF7/
/DebugLibF7/
/DebugF7/
/DebugBootloaderOVI40/
/DebugLibOVI40/
/DebugOVI40/
/DebugBootloaderMCHF/
/DebugLibMCHF/
/DebugMCHF/