Debug/
Release/
firmware_Target_Flash/
.metadata
*.o
*.d
*~
*.pyc
bootloader.bin
bootloader.dfu
bootloader.elf
bootloader.hex
mchf.bin
mchf.elf
mchf.map
language.settings.xml
/DebugSemihosting/
/DebugLib/
/DebugBootloader/
/ReleaseBootloader/
/build-bl/
/build-fw/
